/* style */
/* Absolutely necessary for Google Maps version 3 */
html {
	height: 80%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

/* Absolutely necessary for Google Maps version 3 */
body {
	height: 80%;
	margin: 10px;
	padding: 20px;
}

p {
	font-size: 30px;
}

h1 {
	color: pink;
	font-size: 10px;
}

#map_canvas {
	height: 90%;
	
}

.fun {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	color: pink;
}





