/* style */
/* Absolutely necessary for Google Maps version 3 */
html {
	height: 95%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	background-color: #9AD1D4; /* light blue */
}

/* Absolutely necessary for Google Maps version 3 */
body {
	height: 95%;
	margin: 10px;
	padding: 20px;
}

p {
	font-size: 30px;
}

h1 {
	color: #20063B; /* purple */
	font-size: 30px;
	background-color: #C2F9BB /* mint green */
}

#map_canvas {
	height: 95%;
	
}

.fun {
	font: "Helvetica Neue";
	font-size: 20px;
	color: #CC3363; /* pink */
}





